<div class="container-404">

<div class="gif-wrapper">
  <iframe
    src="https://giphy.com/embed/6SPT4vjEWBPjECMXwr"
    class="rick-image"
    frameborder="0"
    allowfullscreen
    title="Rick and Morty GIF"
    width="600"
    height="340"
  ></iframe>
</div>

  <h1>404</h1>

  <p class="message">"No tengo idea de dónde estamos, Morty."</p>
  <p class="sub-message">Parece que te perdiste en una dimensión desconocida.</p>

  <a routerLink="/character" class="home-button">Volver al Garaje</a>
</div>
